<h1 style="display: flex; justify-content: center; align-items: center;">Edit Post</h1>



<div class="container">
    <div class="row">
        <div class="col" style="display: flex; justify-content: center; align-items: center;">
          <%= form_with model: @post do |form| %>
  <% if current_user.id.to_i == @post.user_id.to_i %>
  <div class = "form-control m-2 p-3" style="border-color: #adb5bd; border-radius: 2px; border-width: 1px; background-color: #edf4f4;font-size:24px"> 
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class = "form-control m-2 p-3" style="border-color: #adb5bd; border-radius: 2px; border-width: 1px; background-color: #edf4f4;font-size:24px">
    <%= form.label :description %><br>
    <%= form.text_field :description %><br>
    <% @post.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  

  <div>
    <%= form.text_field :user_id, type: "hidden", value: current_user.id %><br>
  </div>


 

  <div class = "form-control m-2 mt-0 p-3" style="border-color: #adb5bd; border-radius: 2px; border-width: 1px; background-color: #edf4f4;font-size:24px">
    <%= form.submit class: 'btn btn-primary col-12 form-conntrol', style: 'font-size:24px' %>
  </div>
<% end %>
<% end %>
        </div>
    </div>
   </div>

   
<%= render 'permission'%>








   



 