<div class="container  mt-5" style= 'margin-bottom:100px'>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6">
                <div class="card" style="border-color: #adb5bd; border-radius: 2px; border-width: 1px; background-color: #edf4f4;">
                    <div class="card-header bg-primary text-light">
                        <div class="row">
                            <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <h1><%= @post.title%></h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <% @post.images.each do |image| %> 
                                    <%= image_tag(image, style: ' width:75%; height:75%',class: 'shadow card-top card-bg') %>
                                <% end %>      
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <h3><%= @post.description %></h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <% if current_user.id.to_i != @post.user_id.to_i %>
                                <%= button_to "",upvote_post_path(@post), style: 'color:red',class: 'btn fa-regular fa-heart fa-2x',method: :patch %><br>
                                <% end %>

                                <div class = "ms-1">
                                    <h4>Likes <%= @post.votes_for.up.size%></h4>
                                </div>
                                
                            </div>

                            <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <% if current_user.id.to_i != @post.user_id.to_i %>
                                <%= button_to "",downvote_post_path(@post), class: 'btn fa-solid fa-2x fa-heart-crack',method: :patch %><br>
                                <% end %>
                                <div class = "ms-1">
                                    <h4>Dislikes <%= @post.votes_for.down.size%></h4>
                                </div>
                            </div>
                        </div>
                        <%if current_user.id.to_i != @post.user_id.to_i%>
                        <div class="row">
                            <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <%= render "comments/form", comment: @comment%>
                            </div>
                        </div>
                        <%end%>

                        <div class="row" >
                            <%a = @post.comments.count%>
                            <%@post.comments.each_with_index do|comment,index| %>
                            <% if index < a %>
                            
                            <div class="row">
                                <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <b>Commenter: </b> <%= comment.user_email %>    
                                </div>
                            </div>

                            <div class="row">
                                <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                    
                                    <%= comment.votes_for.up.size%><%= button_to  "",upvote_comment_path(comment),class: 'btn me-2 fa-sharp fa-regular fa-thumbs-up fa-2x',style: 'color:blue',method: :patch %><%= comment.text %>  <%= button_to "",downvote_comment_path(comment),class: 'btn  ms-2 fa-sharp fa-regular fa-thumbs-down fa-2x',method: :patch %><div class = "ms-1"><%= comment.votes_for.down.size%></div>
                                </div>
                            </div>

                            <%if current_user.id.to_i == @post.user_id.to_i%>
                            <div class="row">
                                <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                    <%= button_to "Delete comment", comment, method: :delete, class: 'btn btn-outline-danger' %>
                                </div>
                            </div>
                            <%end%>
                            <%end%>
                            <%end%>
                        </div>

                    </div>
                    <% if current_user.id.to_i == @post.user_id.to_i%>
                    <div class="card-footer">
                    
                        <div class="row">
                            <div class="col" style="display:flex;justify-content: center; align-items: center;">
                                <ul><li><%= link_to "Edit", edit_post_path(@post) %></li>
                                <li><%= link_to "Destroy", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li></ul>
                            </div>
                        </div>
                        
                    </div>
                    <% end %>
                  </div>
            </div>
        </div>
    </div>